canvas {
  background-color: black;
  margin: 10px;
  border: 8px solid black;
  align-self: center;
}

#main {
  display: flex;
  flex-direction: column;
}

#button-div {
  display: flex;
  justify-content: center;
}

form {
  padding: 10px;
  align-self: center;
}

button {
  width: fit-content;
  align-self: center;
  justify-self: center;
  margin: 2px;
}

h1 {
  text-align: center;
}

input {
  width: 35px;
}

label {
  margin: 8px;
}